<% include ../partials/header %>

<div class="container">
    <h1>Edit Project</h1>
    <form method='post' action="/projects/<%= pro.pid %>?_method=PUT">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" type="text" name="lusn" placeholder="team leader usn" pattern="1(RN|rn)[0-9][0-9][A-Za-z]{2}[0-9]{3}" minlength="10" maxlength="10" value = "<%= pro.lusn %>" disabled>
            </div>
            <div class="form-group col-md-6">
                <select class="form-control" name="area">
                    
                    <option value="dbms">DBMS</option>
                    <option value="cn">Computer networks</option>
                    <option value="cg">Computer graphics</option>
                    <option value="web">Web</option>
                    <option value="and">Android</option>
                    
                </select>
            </div>
        </div>
        <div class="form-row">
            <input class="form-group form-control" type="text" name="title" placeholder="title" value="<%= pro.title %>" required>
        </div>
        <div class="form-row">
            <div class="form-group">
                <textarea class="form-control" name="description" rows="3"  placeholder="description"><%= pro["description"] %></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" type="url" name="github" placeholder="github link" value="<%= pro.details['github'] %>">
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" type="url" name="website" placeholder="website" value="<%= pro.details.website %>">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" type="url" name="report" placeholder="report link" disabled>
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" type="text" name="supervision" placeholder="teacher usn"  minlength="10" maxlength="10" value="<%= pro.supervision %>">
            </div>
        </div>
        
        <div class="form-row form-group">
            <button class="col btn btn-primary" type="submit">Submit</button>
            <button class="col btn btn-danger" type="reset">Reset</button>
        </div>

    </form>
</div>




<% include ../partials/footer %>