<% include ../partials/header %>


<!--<div class="container">-->
<!--    <table class="ui sortable celled table">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th class="sorted descending">Name</th>-->
<!--      <th>Usn</th>-->
<!--      <th>Area</th>-->
<!--      <th>last modified</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
    
<!--    <% for (let row of res.rows) { %>-->
    <!--<%= JSON.stringify(row) %>-->
<!--  <tr>-->
<!--      <td><a href="/projects/<%= row.pid %>"><%= row.title %></a></td>-->
<!--      <td><a href="/student/<%= row.lusn %>"><%= row["lusn"] %></a></td>-->
<!--      <td><%= row["area"] %></td>-->
<!--      <td><%= row.submission.toDateString() %></td>-->
<!--  </tr>-->
<!--  <% } %>-->
<!--</table>-->
<!--</div>-->

<!--///////////////////////////////////////////////////////////////////////////////////////////////////-->
<div class="container">
  <div class="ui cards">
 <% for (let row of res.rows) { %> 
  <div class="ui card">
  <div class="content">
    <div class="header"><em><%= row.title %></em></div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Submitted by : <%= row.lusn %></h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <h5>Area : <%= row.area %></h5> 
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <h5>Last updated on <%= row.submission.toDateString() %></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <a class="ui button" href="/projects/<%= row.pid %>"><h5>Go To Project <i class="right arrow icon"></i></h5></a>
  </div>
</div>
  <% } %>
  </div>
</div>

<!--///////////////////////////////////////////////////////////////////////////////////////////////-->



<% include ../partials/footer %>