<% include ../partials/header %>

<h1>project show page</h1>

<% if(result.lusn == currentUser.id) { %>
<a class="btn btn-primary" href="/projects/<%= result.pid %>/edit" >Edit project</a>

<form method='post' action="/projects/<%= result.pid %>?_method=DELETE">
  <input class="hidden" name="pid" value="<%= result.pid %>" >
  <input class="btn btn-danger" type="submit" value="delete" >
</form>

<form method='post' action="/team/<%= result.pid %>">
  <input class="hidden" name="pid" value="<%= result.pid %>" >
  <input class="form-control" type="text" name="usn" pattern="1(RN|rn)[0-9][0-9][A-Za-z]{2}[0-9]{3}" minlength="10" maxlength="10" placeholder="usn" required>
  <input class="btn btn-primary" type="submit" value="add member" >
</form>
<% } %>



<div class="container">
   
        <%= JSON.stringify(result) %>
         <div class="container">
        <% team.rows.forEach(function(row){ %>
            <li><a href="/student/<%= row.usn %>"><%= row.usn %></a>and average total = <%= row.marks %>
              <% if(result.lusn == currentUser.id && row.usn!=result.lusn){ %>
              <form method='post' action="/team/<%= result.pid %>?_method=DELETE">
                <input class="hidden" name="pid" value="<%= result.pid %>" >
                <input class="hidden" name="usn" value="<%= row.usn %>" minlength="10" maxlength="10" placeholder="usn" required>
                <input class="btn btn-danger" type="submit" value="delete member" >
              </form>
              <% } %>
            </li>
        <% }) %>
    </div>
    <div class="segment">
        <% for(let member of team.rows){ %>
            <% for(let mark of marks.rows){ %>
                <% if(member.usn== mark.usn){ %>
                <li><%= mark.usn %> and <%= mark.total %> </li>
            <% } } }%>
    </div>
</div>

<div class="container">
    <table class="ui sortable celled table">
  <thead>
    <tr>
      <th>usn</th>
      <th>demonstration</th>
      <th>viva</th>
      <th>report</th>
      <th>total</th>
      <th>valued_by</th>
    </tr>
  </thead>
  <tbody>
    
    <% if(currentUser.type == "teacher") { %>
          <button>add</button>
          <form action="/marks/<%= result.pid %>" method='post'>
            <div class="ui form">
              <div class="inline fields">
                <div class="field">
                  <input type="hidden" name="pid" value="<%= result.pid %>" >
                </div>
                <div class="field">
                  <select name="usn">
                     <% for(let member of team.rows){ %>
                     <option value="<%= member.usn %>"><%= member.usn %></option>
                     <% } %>
                  </select>
                </div>
                <div class="field">
                  <input type="number" name="demo" placeholder="demonstration" min="0" max="15">
                </div>
                <div class="field">
                  <input type="number" name="viva"  placeholder="viva" min="0" max="5">
                </div>
                <div class="field">
                  <input type="number" name="report" placeholder="report" min="0" max="10">
                </div>
                <div class="field">
                  <input type="hidden" name="valued" value="<%= currentUser.id %>" >
                </div>
                <input type="submit" class="btn btn-primary" value="submit">
              </div>
            </div>
          </form>
        <% } %>
    
    <% for (let row of marks.rows) { %>
  <tr>
      <td><%= row["usn"] %>

        <%  if(currentUser.id == row.valued_by) { %>
        <button>edit</button>
          <form action="/marks/<%= result.pid %>?_method=PUT" method='post'>
            <div class="ui form">
              <div class="inline fields">
                <div class="field">
                  <input type="hidden" name="pid" value="<%= result.pid %>" >
                </div>
                <div class="field">
                  <input class="hidden" value="<%= row.usn %>" name="usn">
                </div>
                <div class="field">
                  <input type="number" name="demo" value="<%= row.demonstration %>" min="0" max="15">
                </div>
                <div class="field">
                  <input type="number" name="viva"  value="<%= row.viva %>" min="0" max="5">
                </div>
                <div class="field">
                  <input type="number" name="report" value="<%= row.report %>" min="0" max="10">
                </div>
                <div class="field">
                  <input type="hidden" name="valued" value="<%= currentUser.id %>" >
                </div>
                <input type="submit" class="btn btn-primary" value="submit">
              </div>
            </div>
          </form>
          
         
          <form method='post' action="/marks/<%= result.pid %>?_method=DELETE">
             <input type="hidden" name="pid" value="<%= result.pid %>" >
              <input type="hidden" name="valued" value="<%= row.valued_by %>" >
             <input type="hidden" name="usn" value="<%= row.usn %>" >
            <input type="submit" class="btn btn-danger" value="delete">
          </form>
        <% } %>
      </td>
      <td><%= row["demonstration"] %></td>
      <td><%= row["viva"] %></td>
      <td><%= row["report"] %></td>
      <td><%= row["total"] %></td>
      <td><%= row["valued_by"] %></td>
  </tr>
  <% } %>
</table>
</div>





<!--<div class="ui tabular menu">-->
<!--  <div class="item" data-tab="tab-name">Tab Name</div>-->
<!--  <div class="item" data-tab="tab-name2">Tab Name 2</div>-->
<!--</div>-->
<!--<div class="ui tab" data-tab="tab-name">-->
<!-- hey-->
<!--</div>-->
<!--<div class="ui tab" data-tab="tab-name2">-->
<!--   Tab Content !-->
<!--</div>-->



<!--<script>-->
<!--  $('.tabular.menu .item').tab();-->
<!--</script>-->



<!--<script type="text/javascript" src="/public/main.js"></script>-->
<% include ../partials/footer %>



